# Byte-compiled / optimized / DLL files
__pycache__/


# Cache
*.~lock
*0-coot*
*__rasmol.script
*__view_structure.pdb


# Bulk
*logs/*
*exports/*
*pickles/*
*superposed/*
*many_pdbs/*


# Heavy
*dataframes/*
*diagrams/*
*charts/*
*previews/*
*images/*

# Other
*secure/*
*data/experimental/*
*nohup.out
*.idea/*
